body
{
/*	background: rgba(246, 246, 246, .99);*/
	font-family: Roboto;
    margin: 0;
/*    overflow: hidden;*/
}

::-webkit-scrollbar
{ 
    display: none; 
}

h4 {
    text-align: center;
}
form h1
{
    text-align: center;
    color: rgba(65, 190, 240, 1);
}

.user-pass
{
    font-size: 72px;
}

::-webkit-input-placeholder
{
    font-size: 1.3em;
    opacity: .8;
    transition: ease .65s;
}

[placeholder]:focus::-webkit-input-placeholder
{
    opacity: 0;
}

/**************************************/
.main-controller
{
    height: 10px;
}

.main-controller h1
{
    text-align: center;
    margin: 0;
}

.main-block
{
    margin-top: 10px;
}

.block
{
    min-width: 300px;
    height: 200px;
    margin: 1px;
    float: left;
    position: relative;
    background-size: cover;
}

.publisher
{
    position: absolute;
    bottom: 0;
    right: calc(45px + 1%);
    background: orange;
    color: black;
    padding: 1px 10px 1px 3px;
    border-radius: 5px;
}

.price
{
    position: absolute;
    bottom: 1%;
    right: 1%;
    background: orange;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.block p
{
    text-align: center;
}

.block-name
{
    float: left;
    margin: 5px;
    padding: 0 5px;
    background: white;
    opacity: .8;
    border-radius: 3px;
}

/***************************************/
.heading p
{
    text-align: center;
    font-weight: normal;
    font-size: 1.1em;
}

.heading h1
{
    text-align: center;
    margin-bottom: 0;
}

.learning-skill
{
    font-size: 17px;
    color: aliceblue;
    background: gray;
    height: auto;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3px;
}

.learning-skill a
{
    text-decoration: none;
    color: white;
}

.learning-skill p
{
    font-size: 14px;
    color: aqua;
}

.portfolio
{
    font-size: 20px;
    background: lightgray;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

.jumbotron
{
    padding-top: 0;
}

#main-slide
{
    background: rgba(246, 246, 246, .99);
    background: url("../assets/icymountains.jpg") no-repeat center;
	background-size: cover;
	color: white;
	text-align: center;
	height: 100vh;
    background: url("../assets/mac.jpg") no-repeat center;
    background-size: cover;
    height: 35vh;
    width: 25vw;
    overflow: auto;
    display: inline-block;
    margin: 10px;
}

.test-frame {
    
}
/****************************************************/
/**MEDIA QUERY*MEDIA QUERY*MEDIA QUERY*MEDIA QUERY***/
/****************************************************/

/*
@media (max-width: 1560px){    
    .contentP1
    {
        color: pink;
        font-size: 1.5vw;
        line-height: 30px;
        margin: 50 0 0 90px;
    }
    

    .latestWork1
    {
        color: pink;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
    
    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}

@media (max-width: 1440px){    
    .contentP1
    {
        color: white;
        font-size: 1.1em;
        line-height: 25px;
        width: 40%;
        margin: 0 0 0 90px;
    }
    
    .latestWork1
    {
        color: pink;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }

    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}
*/

@media (max-width: 1080px){
    #userMenu
    {
        right: 10px;
    }
    
    #settings
    {
        right: 0;
    }
    
    .contentP1
    {
        color: white;
        font-size: 1.1em;
        line-height: 25px;
        width: 40%;
        margin: 0 0 0 90px;
    }
    
    .latestWork1
    {
        color: pink;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }

    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}

@media (max-width: 940px){
    .block
    {
        clear: right;
        min-width: 300px;
    }
    .signup
    {
        width: 90%;
    }
    
    .signup-fields
    {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        padding-left: 5px;
        height: auto;
        width: 90%;
        font-size: 2.6em;
        text-align: left;
        line-height: 1em;
        border: 1px solid #dde2e7;
        border-radius: 6px;
    }
    
    #main-slide h1
    {
        float: left;
        display: inline;
        margin: 35px 0 0 30px;
    }
    
    #main-slide h2
    {
        float: left;
        display: inline;
        margin-left: 30px;
    }
    
/*    #main-slide p*/
    {
        color: red;
        font-size: 1.1em;
        line-height: 25px;
        width: 80%;
    }
    
    #main-slide div
    {
        color: white;
        font-size: 1.4vw;
        line-height: 27px;
        text-align: left;
        width: 90%;
        height: auto;
        margin: 0 auto;
        clear: both;
    }
    
    #main-slide p
    {
        color: white;
        font-size: calc(2.4vw + .2vw);
        line-height: 27px;
        text-align: left;
        width: 90%;
        margin-left: 30px;
        height: auto;
        clear: both;
    }
    
    .latestWork1
    {
        color: pink;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }

    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}

/*
@media (max-width: 720px){
    #userMenu
    {
        right: 10px;
    }
    
    .latestWork1
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }

    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}
*/
