body
{
/*	background: rgba(246, 246, 246, .99);*/
    background: white;
	font-family: Roboto;
    margin: 0;
/*    overflow: hidden;*/
}

::-webkit-scrollbar
{ 
    display: none; 
}

header
{
	width: 100%;
	height: 100px;
	background: rgba(246, 246, 246, .99);
    position: absolute;
    top: 0;
	color: white;
	text-align: center;
    margin: 0;
}

.profile
{
    background: url(../assets/citylights.jpg);
    color: white;
}

.settings
{
    background: url(../assets/citylights.jpg);
    color: white;
}

.profile-signup
{
    background: rgba(246, 246, 246, .99);
/*    background: red;*/
}

.signup
{
    background: #EDEDED;
    opacity: .9;
    display: block;
    position: relative;
    margin: 0 auto;
    height: 45%;
    width: 60%;
    border: 1px solid #dde2e7;
    border-radius: 6px;
}

.signup-inner-form
{
    position: relative;
    top: calc(50% - (242px / 2));
    clear: both;
}

form h1
{
    text-align: center;
    color: rgba(65, 190, 240, 1);
    position: relative;
    top: -20px;
}

.signup-fields
{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 5px;
    height: auto;
    width: 60%;
    font-size: 3em;
    text-align: left;
    line-height: 1em;
    border: 1px solid #dde2e7;
    border-radius: 6px;
}

::-webkit-input-placeholder
{
    font-size: .7em;
    opacity: .8;
    transition: ease .65s;
}

[placeholder]:focus::-webkit-input-placeholder
{
    opacity: 0;
}

.google-signin
{
    margin: 20px;
    clear: both;
}

#main-slide h1
{
    font-size: 42px;
/*    width: 80%;*/
    margin: 30px 0 0 250px;
    padding: 0;
    display: inline-block;
    clear: both;
    float: left;
}

#main-slide h2
{
    font-size: 72px;
/*    display: inline;*/
    clear: both;
    float: left;
    margin: 0 0 5px 250px;
    
}

#part2 h2
{
    font-size: 2em;
}

#part3 h2
{
    font-size: 2em;
    margin: 0 auto;
    width: 80%;
}
/****************************************************/
/**DIM**DIM**DIM**DIM**DIM**DIM**DIM**DIM**DIM**DIM**/
/****************************************************/
#dim
{
    background: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    transition: opacity 1s ease;
}

#dim.open
{
    opacity: .8;
    z-index: 0;
}

/****************************************************/
/***USER MENU**USER MENU**USER MENU**USER MENU*******/
/****************************************************/
#userMenu
{
    display: inline;
    float: right;
    border: 3px solid gray;
    border-radius: 50px;
    padding: 15px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 100px;
}

#userMenuHead
{
    display: inline;
    float: right;
    border: 2px solid gray;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

#userMenuBody
{
    display: inline;
    float: right;
    border: 2px solid gray;
    height: 40px;
    width: 50px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    position: relative;
    top: 39.8px;
    right: -7px;
}

#settings
{
    display: none;
    font-size: 1.5em;
    line-height: 40px;
    background: rgba(246, 246, 246, 1);
    list-style-type: none;
    padding: 10px;
    width: auto;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    right: 75px;
}

#settings a
{
    text-decoration: none;
}

#settings a li
{
    color: black;
}


/****************************************************/
/**SLIDE MENU**SLIDE MENU**SLIDE MENU**SLIDE MENU****/
/****************************************************/
#options
{
    font-size: 2.5vw;
    line-height: 150px;
    list-style-type: none;
    background: rgba(255, 255, 255, 1);
    z-index: 9;
    height: 100vh;
    width: 30vw;
    padding: 0;
    text-align: left;
    position: fixed;
    top: 0;
    left: -45%;
    margin: 0;
    transition: left .6s ease;
}

#options.open
{
    z-index: 1;
    left: 0;
}

open
{
    
}

.optionsContent
{
    list-style-type: none;
    list-style-position: inside;
    color: black;
    margin: 100px 0 0 0;
    padding: 0;
    text-align: left;
}

.optionsContent li
{
    padding-left: 20px;
}

.optionsContent li a
{
    text-decoration: none;
    color: black;
    width: 100%;
}

.optionsEven
{
    background-color: rgba(0, 0, 0, .1);
}

.optionsOdd
{
    background-color: rgb(255, 255, 255);
}

/****************************************************/
/**NAV**NAV**NAV**NAV**NAV**NAV**NAV**NAV**NAV**NAV**/
/****************************************************/
.mainNav
{
/*    display: inline;*/
    margin: 0 auto;
}

nav
{
	margin: 100px auto; 
	text-align: center;
}

nav ul ul
{
	display: none;
}

	nav ul li:hover > ul
    {
		display: block;
	}


nav ul
{
	background: #efefef; 
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after
    {
		content: "";
        clear: both;
        display: block;
	}

	nav ul li
    {
		float: left;
	}
		nav ul li:hover
        {
			background: #4b545f;
			background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
			background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		}
			nav ul li:hover a
            {
				color: #fff;
			}
		
		nav ul li a
        {
			display: block;
            padding: 25px 40px;
			color: #757575;
            text-decoration: none;
		}
			
		
	nav ul ul
    {
		background: #5f6975;
        border-radius: 0px;
        padding: 0;
		position: absolute;
        top: 100%;
	}
		nav ul ul li
        {
			float: none; 
			border-top: 1px solid #6b727c;
			border-bottom: 1px solid #575f6a;
            position: relative;
		}
			nav ul ul li a
            {
				padding: 15px 40px;
				color: #fff;
			}	
				nav ul ul li a:hover
                {
					background: #4b545f;
				}
		
	nav ul ul ul
    {
		position: absolute;
        left: 100%;
        top:0;
	}

/****************************************************/
/****************************************************/
/****************************************************/

#main-slide
{
    background: url("../assets/icymountains.jpg") no-repeat center;
	background-size: cover;
	color: white;
	text-align: center;
/*	margin: 0 auto;*/
/*    margin-top: 100px;*/
    margin-left: auto;
	height: 100vh;
	width: 100%;
/*	min-width: 650px;*/
    clear: both;
/*    display: none;*/
}

.skrollP2
{
    position: relative;
    top: 0;
    right: 0;
}

.contentP1
{
    color: white;
    font-size: 1.4vw;
    line-height: 27px;
    text-align: left;
    margin: 150px 50px 50px 250px;
    width: 30%;
    height: auto;
    clear: both;
}

#main-slide div
{
    
}

#p1MButton
{
    float: left;
    margin: 0 0 20px 250px;
    font-size: 2.5em;
    text-decoration: none;
    color: rgba(255, 255, 255, .9);
    height: 80px;
    width: 410px;
    background: rgba(0, 0, 0, .3);
}

#p1MButton:after
{
    content: "Explore";
    position: relative;
    top: 13px;
}

#p1Button
{
    float: left;
    margin: 0 0 0 250px;
    font-size: 2.5em;
    text-decoration: none;
    color: rgba(255, 255, 255, .9);
    height: 80px;
    width: 190px;
    background: rgba(0, 0, 0, .3);
    clear: left;
}

#p1Button:after
{
    content: "Apple";
    position: relative;
    top: 13px;
}

#p1Button2
{
    float: left;
    margin: 0 0 0 30px;
    font-size: 2.5em;
    text-decoration: none;
    color: rgba(255, 255, 255, .9);
    height: 80px;
    width: 190px;
    background: rgba(0, 0, 0, .3);
}

#p1Button2:after
{
    content: "Drone";
    position: relative;
    top: 13px;
}

#part2
{
    text-align: center;
    background: url("../assets/rainyleaves.jpg") no-repeat center;
    background-size: cover;
	color: white;
	height: 1000px;
	width: 100%;
	min-width: 650px;
    position: relative;
    overflow: auto;
}

.latestWork1
{
    text-align: center;
    color: rgba(0, 0, 0, .9);
    background: url("../assets/murica.jpg") no-repeat center;
    background-size: cover;
    height: 35vh;
    width: 25vw;
    overflow: auto;
    display: inline-block;
    margin: 10px;
}

.latestWork1Headline
{
    color: red;
    height: 70%;
    padding: 0;
    margin: 0;
}

.latestWork1Caption
{
    background: rgba(255, 255, 255, .7);
    height: 30%;
    color: red;
    margin: 0;
    position: relative;
}

.latestWork1Caption p
{
    margin: 0;
    position: absolute;
    bottom: 0;
}

.latestWork1Headline h2
{
    margin: auto;
}

.latestWork2
{
    background: url("../assets/towerofpizza.jpg") no-repeat center;
    background-size: cover;
    background-position: right 30%;
    height: 35vh;
    width: 25vw;
    overflow: auto;
    display: inline-block;
    margin: 10px;
}

.latestWork2Headline
{
    color: green;
    height: 70%;
    
}

.latestWork2Caption
{
    color: green;
}

.latestWork3
{
    background: url("../assets/greenbananas.jpg") no-repeat center;
    background-size: cover;
    height: 35vh;
    width: 25vw;
    overflow: auto;
    display: inline-block;
    margin: 10px;
}

.latestWork3Headline
{
    color: yellow;
    height: 70%;
    
}

.latestWork3Caption
{
    color: yellow;
}

.latestWork4
{
    background: url("../assets/mac.jpg") no-repeat center;
    background-size: cover;
    height: 35vh;
    width: 25vw;
    overflow: auto;
    display: inline-block;
    margin: 10px;
}

.latestWork4Headline
{
    color: blue;
    height: 70%;
    
}

.latestWork4Caption
{
    color: blue;
}

#part3
{
    background: url("../assets/lakemountains.jpg") no-repeat center;
	background-size: cover;
	color: white;
	text-align: center;
	clear: right;
	border: 1px solid black;
	margin: 0 auto;
	height: 900px;
	width: 100%;
	min-width: 650px;
}

#projectAPK
{
    height: 400px;
    width: 200px;
    background-size: 100%;
}

/****************************************************/
/*BURGER MENU**BURGER MENU**BURGER MENU**BURGER MENU*/
/****************************************************/

#burger
{
    list-style-type: none;
    float: left;
    display: inline;
    padding: 0;
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 10;
}

.menu-icon
{
    position: relative;
    display: inline-block;
    width: 60px;
    text-indent: -999px;
    margin: 10px 10px 0 0;
}
 
.border-icon
{
    height: 23px;
    border-top: 10px solid rgba(0, 0, 0, .8);
    border-bottom: 10px solid rgba(0, 0, 0, .8);
    margin: -10px 0 0 30px;
}
 
.border-icon:before
{
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    border-top: 10px solid rgba(0, 0, 0, .8);
}

#progressbar
{
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border: 2px solid black;
    border-radius: 6px;
}
/****************************************************/
/**MEDIA QUERY*MEDIA QUERY*MEDIA QUERY*MEDIA QUERY***/
/****************************************************/

/*
@media (max-width: 1560px){    
    .contentP1
    {
        color: pink;
        font-size: 1.5vw;
        line-height: 30px;
        margin: 50 0 0 90px;
    }
    

    .latestWork1
    {
        color: pink;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
    
    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}

@media (max-width: 1440px){    
    .contentP1
    {
        color: white;
        font-size: 1.1em;
        line-height: 25px;
        width: 40%;
        margin: 0 0 0 90px;
    }
    
    .latestWork1
    {
        color: pink;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }

    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}

@media (max-width: 1080px){
    #userMenu
    {
        right: 10px;
    }
    
    #settings
    {
        right: 0;
    }
    
    .contentP1
    {
        color: white;
        font-size: 1.1em;
        line-height: 25px;
        width: 40%;
        margin: 0 0 0 90px;
    }
    
    .latestWork1
    {
        color: pink;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }

    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}
*/


@media (max-width: 940px){
    .signup
    {
        width: 90%;
    }
    
    .signup-fields
    {
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        padding-left: 5px;
        height: auto;
        width: 90%;
        font-size: 2.6em;
        text-align: left;
        line-height: 1em;
        border: 1px solid #dde2e7;
        border-radius: 6px;
    }
    
    #main-slide h1
    {
        float: left;
        display: inline;
        margin: 35px 0 0 30px;
    }
    
    #main-slide h2
    {
        float: left;
        display: inline;
        margin-left: 30px;
    }
    
/*    #main-slide p*/
    {
        color: red;
        font-size: 1.1em;
        line-height: 25px;
        width: 80%;
    }
    
    #main-slide div
    {
        color: white;
        font-size: 1.4vw;
        line-height: 27px;
        text-align: left;
        width: 90%;
        height: auto;
        margin: 0 auto;
        clear: both;
    }
    
    #main-slide p
    {
        color: white;
        font-size: calc(2.4vw + .2vw);
        line-height: 27px;
        text-align: left;
        width: 90%;
        margin-left: 30px;
        height: auto;
        clear: both;
    }
    
    .latestWork1
    {
        color: pink;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }

    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}

/*
@media (max-width: 720px){
    #userMenu
    {
        right: 10px;
    }
    
    .latestWork1
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }

    .latestWork2
    {
        color: white;
        font-size: 1.2em;
        text-align: left;
        padding: 10px;
        margin: 50px;
        width: 30%;
        height: 70%;
        float: left;
    }
}
*/
