////////////////////////////////////////////////////////////////////////
// Variables
////////////////////////////////////////////////////////////////////////
$large: 960px;
$intro-color: rgb(247, 93, 93);
$sub-intro-font-size: 15px;
$section-font-size: 25px;
////////////////////////////////////////////////////////////////////////
// Special Styles
////////////////////////////////////////////////////////////////////////
::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    font-size: 1.3em;
    opacity: .8;
    transition: ease .65s;
}

[placeholder]:focus::-webkit-input-placeholder {
    opacity: 0;
}

////////////////////////////////////////////////////////////////////////
// Main
////////////////////////////////////////////////////////////////////////
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.intro_ {
    font-size: $section-font-size;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: $intro-color;
    margin: 25px 0 0 0;
    padding: 0;
}

.intro_name {
    font-family: 'Playfair Display', serif;
    font-size: $section-font-size;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}

.addr {
    font-size: 12px;
    h5 {
        font-size: $sub-intro-font-size;
        margin: 1px;
        padding: 1px;
    }
    h4 {
        font-size: $sub-intro-font-size;
        font-weight: bold;
        margin: 1px;
        padding: 1px;
    }
}

section {
    h3 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        color: $intro-color;
        font-size: $section-font-size;
    }
    h5 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: $sub-intro-font-size + 5;
    }
    h6 {
        font-size: $sub-intro-font-size - 1;
        margin: 0;
    }
    span {
        font-style: italic;
        font-weight: normal;
    }
    ul {
        li {
            padding-bottom: 5px;
        }
        li:before {
            content: "•";
            font-size: 200%;
            padding-right: 5px;
        }
    }
}

footer {
    margin-top: 50px;
}

////////////////////////////////////////////////////////////////////////
// Controller Styles
////////////////////////////////////////////////////////////////////////
.main-controller {
    height: 10px;
    h1 {
        text-align: center;
        margin: 0;
    }
}

.main-block {
    margin-top: 10px;
}

.block {
    min-width: 300px;
    height: 200px;
    margin: 1px;
    float: left;
    position: relative;
    background-size: cover;
    p {
        text-align: center;
    }
}

.publisher {
    position: absolute;
    bottom: 0;
    right: calc(45px + 1%);
    background: orange;
    color: black;
    padding: 1px 10px 1px 3px;
    border-radius: 5px;
}

.price {
    position: absolute;
    bottom: 1%;
    right: 1%;
    background: orange;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

.heading {
    p {
        text-align: center;
        font-weight: normal;
        font-size: 1.1em;
    }
    h1 {
        text-align: center;
        margin-bottom: 0;
    }
}

.learning-skill {
    font-size: 17px;
    color: aliceblue;
    background: gray;
    height: auto;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 3px;
    a {
        text-decoration: none;
        color: aqua;
    }
    p {
        font-size: 14px;
        color: aqua;
    }
}

////////////////////////////////////////////////////////////////////////
// Aside Styles
////////////////////////////////////////////////////////////////////////
.test_div {
    position: absolute;
    top: 0;
    left: 0;
}

////////////////////////////////////////////////////////////////////////
// *** Styles
////////////////////////////////////////////////////////////////////////
.portfolio {
    font-size: 20px;
    background: lightgray;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}

.jumbotron {
    padding-top: 0;
}

#main-slide {
    background: rgba(246, 246, 246, .99);
    background: url("../assets/icymountains.jpg") no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    background: url("../assets/mac.jpg") no-repeat center;
    background-size: cover;
    height: 35vh;
    width: 25vw;
    overflow: auto;
    display: inline-block;
    margin: 10px;
}