<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gobble Gum Prediction</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/Materialize/bin/materialize.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="css/gg/main.gg.css">
    <!-- endinject -->

</head>

<body ng-app="gumApp">
    <div ng-controller="mainController">
        <div ng-repeat="gum in gums" id="g_ball_div" class="gum gum_ball_{{gum.value}} no_gum_selected dropdown" value="{{gum.value}}">
            select gum {{gum.value}}
            <div id="my_drop_down{{gum.value}}" class="dropdown_content">
                <div ng-repeat="gumball in gumballs" ng-style="{'background-image': 'url({{gumball.bg}})'}"></div>
            </div>
        </div>
    </div>

    <div class="test">
        <div style="{'background-image': 'url(assets/gg_assets/Alchemical Antithesis.png)'}"></div>
    </div>

    <!--    <img ng-src="{{videoUrl}}" alt="One" />-->
    <!--    <img ng-src="{{videoUrl | trustUrl}}" alt="Description" />-->
    <!--        <img ng-rc="{{test2}} " alt="test ">-->


    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js "></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js "></script>
    <script src="bower_components/Materialize/bin/materialize.js "></script>
    <script src="bower_components/angular/angular.js "></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="production/gg/app.gg.min.js "></script>
    <script src="production/gg/main.gg.min.js "></script>
    <script src="production/gg/gg_controller/mainController.gg.min.js "></script>
    <!-- endinject -->
</body>

</html>